
body {
    width: 100%;
    margin: auto;
    padding: 0;
    background: rgb(131, 240, 240);
}

header {
        display: flex;
        justify-content: space-between;
        background-color: antiquewhite;

}

header h1 {
    text-align: center;
}

header nav ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        
}
header nav ul li {
        margin-left: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.float-left {
    float: left;
    margin-right: 25px;
}

#aboutme {
    display: flex;
    justify-content: center;
}

.work {
    color: yellow;
    background-color: black;
    border: 2px;
    border-color: beige;
    border-style: dotted;
}

body {
    width: 100%;
    margin: auto;
    padding: 0;
    background: rgb(131, 240, 240);
}

footer {
        display: flex;
        justify-content: space-between;
        background-color: antiquewhite;
}

footer h2 {
    text-align: center;
}

footer div ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        
}
footer div ul li {
    font-size: large;
        margin-left: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}        